.escalators-info {
  display: flex;
  margin-bottom: 4.8rem;
}

.escalators-info img {
  width: 57.8rem;
}

@media (max-width: 1440px) {
  .escalators-info {
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .escalators-info img {
    width: 100%;
  }
}