.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 0;
}

.header__logo {
  padding-left: 3px;
}

.header__logo img {
  width: 28rem;
}


.header__nav {
  width: 52rem;
  display: flex;
  justify-content: space-between;
}

.header__nav-item {
  font-family: "Inter", sans-serif;
  background: none;
  border: none;
  color: #262626;
  font-size: 3.2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  line-height: 1;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .header__inner {
    padding: 4.5rem 0;
  }
}

@media (min-width: 1200px) {
  .header__inner {
    padding: 4rem 0;
  }
}

@media (max-width: 992px) {
  .header__inner {
    padding: 3rem 0;
  }
}

@media (max-width: 768px) {
  .header__nav {
    width: 45rem;
  }
}