.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 0;
}

.header__logo {
  padding-left: 3px;
}

.header__nav {
  display: flex;
  column-gap: 64px;
}

.header__nav-item {
  font-family: "Inter", sans-serif;
  background: none;
  border: none;
  color: #262626;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 2.2px;
  line-height: 1;
  cursor: pointer;
}