@import url("/src/index.css");

.footer {
  background-color: var(--main-color);
  color: white;
  padding: 6.4rem 0 1.4rem 0;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.footer-left,
.footer-left__nav {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer-left {
  row-gap: 2.4rem;
}

.footer-left__nav {
  row-gap: 0.8rem;
}

.footer-left__logo {
  font-size: 2rem;
  font-weight: 700;
}

.footer-left__nav-item {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 2rem;
}

.footer-right {
  row-gap: 0.8rem;
}

.footer-right__social {
  display: flex;
  column-gap: 2rem;
  margin-bottom: 2rem;
}

.footer-right__social-item {
  cursor: pointer;
}

.copy-rigth {
  width: 30rem;
  font-size: 1.8rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}