.passenger-lifts__cases-title {
  color: var(--main-color);
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.passenger-lifts__cases-title a {
  color: var(--main-color);
  text-decoration: underline;
}