@import url("/src/index.css");

.lifts {
  font-size: 2.4rem;
}

.passenger-lifts__cases-title {
  color: var(--main-color);
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.passenger-lifts__cases-title a {
  color: var(--main-color);
  text-decoration: underline;
}

.passenger-lifts,
.cargo-lifts,
.hospital-lifts,
.other-details {
  margin-bottom: 4.8rem;
}

.lift-swiper-item {
  width: auto;
}

.lift-swiper-item img {
  max-width: 26rem;
  height: 39.2rem;
}
