@import url("/src/index.css");

.parking {
  font-size: 2.4rem;
}

.parking-info img {
  width: 57.8rem;
}

.parking-swiper-item {
  width: auto;
}

.parking-swiper-item img {
  width: auto;
  height: 39.2rem;
}


@media (max-width: 1440px) {
  .parking-info {
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  .parking-info img {
    width: 100%;
  }
}