:root {
  --main-color: #051E6E;
  --second-color: #262626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: none;
  border: none;
  text-decoration-line: none;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Unbounded', sans-serif;
  font-weight: 500;
  color: var(--main-color);
}

h1,
h2 {
  margin-bottom: 4.8rem;
}

h3,
h4 {
  margin-bottom: 2.4rem;
}

h1 {
  font-size: 7.2rem;
  letter-spacing: 5px;
}

h2 {
  font-size: 5.6rem;
}

h3 {
  font-size: 3.2rem;
}

.container {
  width: 100%;
  padding: 0 10%;
  margin: 0 auto;
}

main {
  font-size: 2.4rem;
}

.primary-button {
  background-color: var(--main-color);
  color: #fff;
  border: none;
  padding: 1.6rem 6rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  letter-spacing: 1px;
  border-radius: 1.6rem;
  cursor: pointer;
  width: fit-content;
}

.primary-button:hover {
  background-color: #0033a0;
}

.Toastify__toast {
  font-size: 1.5rem !important;
}

@media (max-width: 1440px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 6.5px;
  }

  .primary-button {
    letter-spacing: 0;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 6px;
  }
  .Toastify__toast {
    font-size: 2.5rem !important;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 5px;
  }

  .container {
    padding: 0 6%;
  }
}

@media (max-width: 480px) {

  .container {
    padding: 0 4%;
  }
}